body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
div.topnav
{
    width: 100%;
    border-style:outset;
    background-color:violet; 
    border-radius: 5px;
    border-top: yellow;
    text-align:left;
    float:left;
    font-size:24 px;
}
div.topnav2
{
    border-style:outset;
    background-color:violet; 
    border-radius: 5px;
    border-top: yellow;
    text-align:left;
    float:left;
    font-size:24 px;
}
div.topnav3
{
    border-style:outset;
    background-color:violet; 
    border-radius: 5px;
    border-top: yellow;
    text-align:left;
    float:left;
    font-size:24 px;
}
div.topnav4
{
    border-style:outset;
    background-color:violet; 
    border-radius: 5px;
    border-top: yellow;
    text-align:left;
    float:left;
    font-size:24 px;
}