<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width-device-width", initial-scale="1">
    <title> COVID-19 Score Tracker</title>
    <link rel="stylesheet" href="Homepage.css">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='Homepage.css') }}">

</head>

<body>
    <!--navigation section-->


        <nav>
            <div class="topnav">
                <a href="Homepage.html">Home</a>
            </div>

            <div class="topNav2">
                <a href="CreatorsBio.html">Creators Bio</a>
            </div>
            <div class="topNav3">
                <a href="Resources.html">Resources</a>
            </div>
                <div class="topNav4>">
                    <a href="EmergencyContacts.html">Emergency Contacts</a>
                </div>


        </nav>



    <main>
        <h1>COVID-19 TRACKER</h1>



   <section>

<div>
        <h6>New Member?</h6>
        <h2>Sign-Up</h2>
</div>

<div>
        <h6>Alraedy a Member?</h6>
        <h2>Sign-In</h2>
        <!--need data base here-->
    </div>
   </section>

   <section>
       <h3>My Score</h3>

       <body>
        <p>Shows default first, if not signed up or signed in.
If already signed-up and already completed a questionnare. Show recent score. </p>
       </body>
   </section>

   <section>
       <h3> Recent Survey Activities:</h3>
       <p>
        Show default example activities, if not signed up or signed in.
        If signed-in and completed a questionnare. show recent actvity.
       </p>
   </section>

</main>

    <!--questionnare navigation-->
<nav>
    <div> <h4> Time Remaining before</h4> </div>
    <ul>
        <li><a href="Prequestionnare.html">Start questionnare</a></li>
    </ul>

</nav>




</body>
</html>
